.label{
    margin-right: .5rem;
    font-weight: 800;
    padding: .5rem 1rem;
    width: 8rem;
    display: inline-block;
}

.input{
    width: 35%;
}

.error{
    color: rgb(218, 64, 64);
    margin: 0;
    padding: 0 1rem;
    font-weight: 900;
}

.input.error{
    background-color: rgb(214, 154, 154);
    padding: 0;
}

